<p>If you added contact information, an organizer will be in touch ASAP.</p>
<p>If you added an email, a copy of your message will be sent to you.</p>
<p>If this is urgent, text or call Levi Zitting <a href="tel:4178080501">417-808-0501</a>. You can also locate another conference organizer or volunteer.  who are recognizable by their badges.</p>
<p>In this is an emergency, please call 911.</p>
<br>
<p>For your reference, here's a copy of what you sent us.</p>
<p>
    <strong>Message:</strong>
    <br>
    @{
        var encodedMessage = HtmlEncoder.Encode(Model.Message).Replace("\n", "<br>");
    }
    @Html.Raw(encodedMessage)
    <br>
</p>
@if (!string.IsNullOrWhiteSpace(Model.Resolution))
{
<p>
    <strong>Resolution:</strong>
    <br>
    @{
        var encodedResolution = HtmlEncoder.Encode(Model.Resolution).Replace("\n", "<br>");
    }
    @Html.Raw(encodedResolution)
    <br>
</p>
}
@if (!string.IsNullOrWhiteSpace(Model.Name))
{
    <p><strong>Name: </strong>@Model.Name</p>
}
@if (!string.IsNullOrWhiteSpace(Model.Email))
{
    <p><strong>Email: </strong>@Model.Email</p>
}
@if (!string.IsNullOrWhiteSpace(Model.Phone))
{
    <p><strong>Phone: </strong>@Model.Phone</p>
}
